@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
  font-family: 'Comfortaa', cursive;
  color: whitesmoke;
}
body {
  max-width: 100%;
  font-size: 11pt;
  background-color: #000066;
}
.main{
  width: 100%;
}
.header{
  background-color: limegreen;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
}
.header h2{font-size: 15pt;margin-bottom: 2pt;text-decoration: underline}
.header p{margin-top: 0pt;}
ol li a{
  text-decoration: none
}
ol li{
  margin: 8px 5px;
}
ol li a:hover{
  text-decoration: underline
}
/*Posted*/
.post-con{
  margin:10px 15px;
  border:1px solid grey;
  border-radius: 10pt;
  padding: 10px;
}
.post-con h4,h5,p{margin:8px 0}
.list{
  padding: 5px;
  margin: 15px;
}